<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O nama - Limetic</title>
    <link rel="stylesheet" href="about.component.css">
</head>
<body>
    <header class="header">
        <h1>Limetic</h1>
        <nav>
            <ul class="nav-list">
                <li><a routerLink="/home">Početna</a></li>
                <li><a routerLink="/about">O nama</a></li>
                <li><a routerLink="/author">Autor</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-content">
        <section class="about-section">
            <h2>O nama</h2>
            <p>Dobrodošli u Limetic Banku, gde je vaša finansijska sigurnost naš prioritet. Nudimo širok spektar usluga kako bismo zadovoljili sve vaše bankarske potrebe. Naša posvećenost zadovoljstvu korisnika čini nas liderom na tržištu.</p>
            <p>Naša misija je da budemo vaš prvi izbor za sve finansijske potrebe, bilo da su u pitanju štedni računi, krediti, investicije ili osiguranje. Ponosni smo na naš tim stručnjaka koji se trudi da svakom klijentu pruži personalizovanu uslugu i savete prilagođene njihovim specifičnim potrebama.

             <p>Verujemo u transparentnost i poštenje u svim našim poslovnim aktivnostima. Naša banka je izgrađena na temeljima poverenja i integriteta, što nas čini sigurnim partnerom za vaš finansijski uspeh. Posvećeni smo kontinuiranom unapređenju naših proizvoda i usluga kako bismo vam ponudili najnovija rešenja u svetu finansija.</p>
                
               <p> Pored standardnih bankarskih usluga, nudimo i širok spektar digitalnih usluga koje vam omogućavaju da svoje finansije upravljate brzo i lako, bilo gde i bilo kada. Naša mobilna aplikacija i internet bankarstvo su dizajnirani sa ciljem da vam olakšaju svakodnevne transakcije i pruže vam potpunu kontrolu nad vašim računima.
                
                Kroz godine, razvili smo snažne odnose sa našim klijentima, zasnovane na poverenju i međusobnom poštovanju. Pozivamo vas da postanete deo naše bankarske porodice i iskusite vrhunsku uslugu koja nas izdvaja od drugih.</p>
        </section>
        <section class="about-section">
            <h2>Kontakt</h2>
            <p>Novi Sad: +381 683 2092 91</p>
            <p>Beograd: +381 68 1971 54, +381 21 683 2092</p>
            <p> Subotica: +381 21 556 9984 </p>
            <p>Zrenjanin: +381 65 3132 63</p>

        </section>
        
    </main>
    <footer class="footer">
        <p>&copy; 2024 Limetic Banka. Sva prava zadržana.</p>
    </footer>
</body>
</html>
