
<mat-toolbar color="accent">
    <span class="title-center">Usluga</span>
  </mat-toolbar>
  
  <div class="container mat-elavation-z8">
    <div class="filter-field ">
      <mat-form-field subscriptSizing="dynamic">
        <input matInput placeholder="Pretraga" name="filterField" (keyup)="applyFilter($event)">
      </mat-form-field>
    </div>
    <mat-table matSort [dataSource]="dataSource" class="mat-cell">
      <!--Naziv-->
      <ng-container matColumnDef="naziv">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Naziv</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.naziv }}</mat-cell>
      </ng-container>
      <!--ID-->
      <ng-container matColumnDef="id">
        <mat-header-cell mat-sort-header *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
      </ng-container>
      <!-- Opis usluge -->
      <ng-container matColumnDef="opisUsluge">
        <mat-header-cell *matHeaderCellDef>Opis usluge</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.opisUsluge }}</mat-cell>
      </ng-container>
      <!-- Datum ugovora -->
      <ng-container matColumnDef="datumUgovora">
        <mat-header-cell *matHeaderCellDef>Datum ugovora</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.datumUgovora | date:'dd.MM.yyyy.' }}</mat-cell>
      </ng-container> 
      <!-- Provizija -->
      <ng-container matColumnDef="provizija">
        <mat-header-cell *matHeaderCellDef>Provizija</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.provizija }}</mat-cell>
      </ng-container>
      <!--FilijalaID-->
      <ng-container matColumnDef="korisnikUsluge">
        <mat-header-cell *matHeaderCellDef>Korisnik usluge</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.korisnikUsluge.id }}</mat-cell>
      </ng-container>

      <!-- Action Buttons -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="accent" (click)="openDialog(1)">
            <mat-icon>add</mat-icon>
          </button>

        </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index">
          <button mat-icon-button color="primary" (click)="openDialog(2, row.id, row.naziv, row.opisUsluge, row.datumUgovora, row.provizija, row.filijala)">
            <mat-icon color="primary" aria-label="Edit">edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="openDialog(3, row.id, row.naziv, row.opisUsluge, row.datumUgovora, row.provizija, row.filijala)">
            <mat-icon color= "warn" aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
        
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        style="cursor: pointer;"
        *matRowDef="let row; columns: displayedColumns">
      </mat-row>
    </mat-table>
    <mat-paginator [length]="20" [pageSize]="5" [pageSizeOptions]="[3,6,9,12]"></mat-paginator>

  </div>
  