<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O nama - Limetic</title>
    <link rel="stylesheet" href="author.component.css">
</head>
<body>
    <header class="header">
        <h1>Limetic</h1>
        <nav>
            <ul class="nav-list">
                <li><a routerLink="/home">Početna</a></li>
                <li><a routerLink="/about">O nama</a></li>
                <li><a routerLink="/author">Autor</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-content">
        <section class="about-section">
            <h2>O autoru - Nastasia Ćetković</h2>
            <p>Dobrodošli na stranicu posvećenu autoru naše banke]! Nastasia je stručnjak sa bogatim obrazovanjem i dugogodišnjim iskustvom u oblasti ekonomije i informacionih tehnologija.

            </p>
            <p>Nastasia je diplomirala na Ekonomskom fakultetu, gde je stekla široko znanje u oblasti finansija, marketinga i menadžmenta. Njeno obrazovanje na Ekonomskom fakultetu pružilo joj je solidnu osnovu za razumevanje složenih finansijskih tržišta i ekonomskih trendova. </p>

             <p>Nakon završetka studija ekonomije, Nastasia je odlučila da proširi svoje znanje i upiše Fakultet informacionih tehnologija. Tokom studija, specijalizovala se za razvoj softverskih rešenja i primenu IT tehnologija u finansijskom sektoru. Kombinacija znanja iz ekonomije i IT-a omogućila joj je jedinstvenu perspektivu i sposobnost da integriše tehnološke inovacije u bankarske procese.

                Njena profesionalna karijera započela je u jednoj od vodećih banaka, gde je radila na različitim pozicijama, uključujući analizu tržišta, razvoj novih proizvoda i digitalnu transformaciju poslovanja. [Ime Autora] je bila ključni član tima koji je radio na implementaciji inovativnih digitalnih rešenja, čime je značajno doprinela poboljšanju korisničkog iskustva i efikasnosti operacija.</p>
                
               <p> Pored profesionalnih uspeha, Nastasia je strastveni edukator i često drži predavanja i radionice na temu primene IT tehnologija u finansijama. Njena sposobnost da složene koncepte objasni na jednostavan i razumljiv način čini je omiljenim predavačem među studentima i profesionalcima.</p>
        </section>
        <section class="about-section">
            <h2>Iskustvo</h2>
            <p>2008. godina: Nastasia je diplomirala na Ekonomskom fakultetu, gde je stekla široko znanje u oblasti finansija, marketinga i menadžmenta. Tokom studija, bila je aktivna članica studentskih organizacija i učestvovala u brojnim takmičenjima iz ekonomije.</p>

                
                 <p>  2012. godina: Nastasia je upisala Fakultet informacionih tehnologija sa ciljem da proširi svoje znanje i veštine u oblasti IT-a. Tokom studija, fokusirala se na razvoj softverskih rešenja i primenu IT tehnologija u finansijskom sektoru.</p>
                
                  <p> 2015. godina: Nakon završetka IT studija, unapređena je na poziciju menadžera za razvoj digitalnih proizvoda. U ovoj ulozi, radila je na implementaciji inovativnih digitalnih rešenja koja su unapredila korisničko iskustvo i operativnu efikasnost banke.</p>
                
                    <p> 2017. godina: Nastasia je počela da drži predavanja i radionice na temu primene IT tehnologija u finansijama, postajući priznat edukator i stručnjak u svojoj oblasti. Njena predavanja su bila izuzetno popularna među studentima i profesionalcima.</p>
                
                  <p> 2019. godina: Postavljena je za rukovodioca tima za digitalnu transformaciju, gde je vodila projekte koji su uključivali uvođenje novih tehnologija i digitalnih usluga. Njeno vođstvo je bilo ključno za uspešnu implementaciju brojnih inovacija.</p>
                
                
                   <p>  2022. godina: Nastasia je dobila priznanje za doprinos razvoju digitalnih finansijskih rešenja u zemlji, čime je dodatno učvrstila svoju reputaciju kao vodeći stručnjak u oblasti finansijskih tehnologija.</p>
                
                     <p> 2023. godina: Pokrenula je inicijativu za edukaciju mladih stručnjaka o digitalnim finansijama i tehnologijama, organizujući seriju besplatnih radionica i seminara. Njena strast za edukacijom i deljenjem znanja inspirisala je mnoge mlade ljude.</p>
                
                        <p> 2024. godina: Nastasia  je imenovana za glavnog savetnika za digitalnu strategiju u banci, gde nastavlja da vodi inovativne projekte i doprinosi razvoju modernih finansijskih usluga.</p>
            

        </section>
        
    </main>
    <footer class="footer">
        <p>&copy; 2024 Limetic Banka. Sva prava zadržana.</p>
    </footer>
</body>
</html>
