<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje korisnika usluge:</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Ažuriranje korisnika usluge: {{data.ime}} {{data.prezime}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje korisnika usluge: {{data.ime}} {{data.prezime}}</h3>

    <form class="mat-dialog-content" #formControl="ngForm">
       <div class="form">
        <mat-form-field>
            <input matInput placeholder="Ime" name="Ime" [disabled]="flag==3" [(ngModel)]="data.ime" required />
        </mat-form-field>
       </div>

       <div class="form">
        <mat-form-field>
            <input matInput placeholder="Prezime" name="Prezime" [disabled]="flag==3" [(ngModel)]="data.prezime" required />
        </mat-form-field>
       </div>
       <div class="form">
        <mat-form-field>
            <input matInput placeholder="Maticni broj" name="Maticni broj" [disabled]="flag==3" [(ngModel)]="data.maticniBroj" required />
        </mat-form-field>
       </div>
    </form>

    <div class="mat-dialog-actions">
        <button matButton *ngIf="flag == 1" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="add()">Sačuvaj</button>
        <button matButton *ngIf="flag == 2" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="update()">Modifikuj</button>
        <button matButton *ngIf="flag == 3" mat-dialog-close="1" (click)="delete()">Obriši</button>
        <button matButton (click)="cancel()">Poništi</button>
    </div>
</div>


